AGORA_APP_ID=YOUR_AGORA_APP_ID
AGORA_APP_CERTIFICATE=YOUR_AGORA_APP_CERTIFICATE
AGORA_CUSTOMER_ID=YOUR_CUSTOMER_ID
AGORA_CUSTOMER_CERTIFICATE=YOUR_CUSTOMER_CERTIFICATE
GCS_CLIENT_EMAIL=YOUR_SERVICE_ACCOUNT_CLIENT_EMAIL
GCS_PRIVATE_KEY="YOUR_SERVICE_ACCOUNT_PRIVATE_KEY"
GCS_BUCKET=midnightcuriosity.firebasestorage.app
