<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191248941616-9tlqa2stjeo3k5f7mtka5htp7d9qg418.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191248941616-9tlqa2stjeo3k5f7mtka5htp7d9qg418</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>191248941616-5eeka0p3ggt960vcfvj5an0o8j3equli.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjx_vuYbth9ifaqaKBWB30R8yDp8KRlgg</string>
	<key>GCM_SENDER_ID</key>
	<string>191248941616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prowin.edupro</string>
	<key>PROJECT_ID</key>
	<string>midnightcuriosity</string>
	<key>STORAGE_BUCKET</key>
	<string>midnightcuriosity.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191248941616:ios:2ef499dbf3a9a62ed8a3f5</string>
	<key>DATABASE_URL</key>
	<string>https://midnightcuriosity-default-rtdb.firebaseio.com</string>
</dict>
</plist>